body {
    background-color: black;
    color: white;
    font-family: "OCRA", Fallback, monospace;
}

@font-face {
    font-family: "OCRA";
    src: url('fnt/ocra.woff2') format('woff2'),
        url('fnt/ocra.woff') format('woff');
}